.container-relleno-contactanos {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* Asegura que el contenido del contenedor no se superponga al overlay */
    background-image: url("../img/contactanos2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-relleno-contactanos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color y opacidad del overlay */
    z-index: 1;
    /* Coloca el overlay detrás del contenido de texto */
}

.container-relleno-contactanos .contenido {
    position: relative;
    z-index: 20;
    margin: 0 90px;
    text-align: left;
    color: var(--blanco);
    font-weight: bolder;
}

.container-relleno-contactanos .contenido h2 {
    color: var(--blanco);
    font-size: 50px;
    font-weight: bolder;
}

.container-relleno-contactanos .contenido h5 {
    font-size: 22px;
    width: 70%;
    margin-bottom: 50px;
}

@media (max-width:850px) {
    
    .container-relleno-contactanos .contenido {
        margin: 0 25px;
    }

    .container-relleno-contactanos {
        min-height: 400px;
    }
    .container-relleno-contactanos .contenido h2 {
        font-size: 40px;
    }

    .container-relleno-contactanos .contenido h5 {
        font-size: 18px;
    }
}