:root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
}

.container-relleno-nosotros {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* Asegura que el contenido del contenedor no se superponga al overlay */
    background-image: url("../img/nosotros2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-relleno-nosotros::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color y opacidad del overlay */
    z-index: 1;
    /* Coloca el overlay detrás del contenido de texto */
}

.container-relleno-nosotros .contenido {
    position: relative;
    z-index: 20;
    margin: 0 90px;
    text-align: left;
    color: var(--blanco);
    font-weight: bolder;
}

.container-relleno-nosotros .contenido h2 {
    color: var(--blanco);
    font-size: 50px;
    font-weight: bolder;
}

.container-relleno-nosotros .contenido h5 {
    font-size: 22px;
    width: 70%;
    margin-bottom: 50px;
}

.container-nosotros.pagina {
    padding: 0 200px;
}

.container-nosotros.pagina .cont-img {
    display: flex;
    justify-content: left;
    padding: 0 60px;
}

.container-nosotros.pagina .cont-img.valores{
    justify-content: right;
}

.container-nosotros.pagina .cont-text .subtitulo{
    text-align: center;
}
.container-nosotros.pagina .cont-text p{
    text-align: justify; /* Centrar el texto horizontalmente */
}

.container-nosotros.pagina .cont-img img {
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.cont-text .valores h5 {
    color: var(--celeste);
    font-weight: bolder;
}

@media screen and (min-width: 851px) and (max-width: 1195px) {
    .container-nosotros.pagina {
        padding: 0 70px;
    }
}

@media (max-width:850px) {
    .container-nosotros.pagina {
        padding: 0 50px;
    }
    .container-nosotros.pagina .cont-img.valores{
        margin-bottom: 50px;
        padding: 0;
    }

    .container-nosotros.pagina .cont-img {
        justify-content: center;
    }

    .container-relleno-nosotros .contenido {
        margin: 0 25px;
    }

    .container-relleno-nosotros {
        min-height: 400px;
    }
    .container-relleno-nosotros .contenido h2 {
        font-size: 40px;
    }

    .container-relleno-nosotros .contenido h5 {
        font-size: 18px;
    }

    .container-nosotros.pagina .img-cont-text .cont-text{
        padding: 30px 0;
    }
}
