@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ag_book_roundedmedium';
    src: url('fonts/ag_book_rounded_medium-webfont.woff2') format('woff2'),
        url('fonts/ag_book_rounded_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('fonts/Roboto-Condensed.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #ffffff;
    --blanco: #ffffff;
    --secondary: #f7bc28;
    --secondaryhover: #e6a400;
    --textgris: #686868;
    --celeste: #37add1;
    --fontPrimary: 'ag_book_roundedmedium';
    --fontSecondary: 'Roboto-Condensed';
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

main {
    width: 100%;
    margin-right: 0;
    background-color: #ffff;
}

.img-nav {
    height: 60px;
}

.menu__logo{
    text-decoration: none;
    font-size: 27px;
    font-weight: bolder;
}

.menu__logo a{
    color: var(--secondary);
    text-decoration: none;
}

.menu {
    background-color: var(--primary);
    height: 70px;
    top: 0;
    z-index: 900;
    position: fixed;
    font-size: 15px;
    width: 100%;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    list-style: none;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links {
    list-style: none;
    height: 100%;
    margin-bottom: 0;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: var(--textgris);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover {
    background-color: var(--secondary);
    color: #ffff;
}


.menu__arrow {
    font-size: 12px;
    color: var(--textgris);
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    padding-left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    color: #ffffff;
    transform: translateY(100%);
    background-color: var(--secondary);
}

.menu__link--inside {
    color: #ffffff;
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: var(--secondaryhover);
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.container {
    width: 100%;
}

.menu__img {
    display: block;
    font-size: 32px;
    color: var(--textgris);
}

.menu_contactos {
    display: flex;
    padding: 8px;
    align-items: center;
}

.menu_contactos .btn-contactos {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #00a128;
    transition: all 0.3s;
}

.menu_contactos .btn-contactos:hover {
    background-color: #015f18;
}

/* -------Slider de imagenes-------- */
.carousel.slide {
    margin-top: 40px;
}

.carousel-item {
    max-height: 700px;
}

.carousel-caption {
    height: 100%;
}

.carousel-text {
    height: 100%;
    text-align: start;
    display: flex;
    align-items: center;
}

.carousel-text .carousel-text-cont {
    width: 50%;
    padding-left: 10%;
}

 .carousel-text-cont h2{
    font-weight: bolder;
 }

.carousel-text .carousel-btns {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: start;
}

.carousel-text .carousel-btns button {
    border: none;
    padding: 8px 13px;
    border-radius: 8px;
}

.carousel-btns .btn-1 {
    background-color: var(--secondary);
    color: #ffffff;
    transition: all 0.3s;
}

.carousel-btns .btn-1:hover {
    background-color: var(--secondaryhover);
}

.carousel-btns .btn-2 {
    transition: all 0.3s;
}

.carousel-btns .btn-2:hover {
    background-color: var(--textgris);
    color: #ffffff;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.637);
    /* Color del overlay */
    color: #fff;
    /* Color del texto del overlay */
    padding: 20px;
    /* Espaciado interno del overlay */
}

/* -------------------Nuestros servicios----------------- */


.container-servicios {
    padding: 80px 50px;
}

.cont-title {
    text-align: center;
}

.cont-title h2 {
    color: var(--secondary);
    font-weight: bolder;
}

.grid-tarjetas {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.grid-tarjetas .cont-tarjetas {
    display: grid;
    width: 60%;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-tarjetas .tarjetas {
    position: relative;
    /* Agregamos posición relativa para poder usar posicionamiento absoluto en el contenido interno */
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 20px;
    /* box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.13); */
    box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    cursor: pointer;
}

.grid-tarjetas .tarjetas:hover {
    background-color: var(--celeste);
    color: #ffffff;
}

.grid-tarjetas .tarjetas:hover h5 {
    color: var(--blanco);
}

.grid-tarjetas .tarjetas h5 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
    color: var(--celeste);
    transition: all 0.7s;
}

.grid-tarjetas .tarjetas .icon-tarj {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.tarjetas .icon-tarj i {
    font-size: 60px;
    color: #3dc1e8;
    transition: all 0.7s;
}

.grid-tarjetas .tarjetas:hover .icon-tarj i {
    color: var(--blanco);
}

.cont-button {
    display: flex;
    justify-content: center;
}

.cont-button button {
    border: none;
    background-color: var(--secondary);
    padding: 12px 17px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: var(--blanco);
    transition: all 0.5s;
}

.cont-button button:hover {
    background-color: var(--secondaryhover);
}


/* -------------------QUIENES SOMOS-------------------- */
.container-nosotros {
    padding: 80px 0px;
}

.container-nosotros .img-cont-text {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 0;
}

.img-cont-text img {
    width: 100%;
}

.img-cont-text .cont-img {
    overflow: hidden;
    align-items: center;
}

.img-cont-text .cont-text {
    padding: 0 60px;
    display: flex;
    align-items: center;
}

.img-cont-text .cont-text h3 {
    text-align: center;
    font-weight: bolder;
    color: var(--secondary);
}

.img-cont-text .cont-text .subtitulo {
    text-align: center;
}

.img-cont-text .cont-text .img {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.img-cont-text .cont-text img {
    width: 150px;
}


/* -------------------LOGOS PARTNERS----------------- */
.container-partners {
    padding: 50px 0;
}

.container-partners .grid-partners {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-partners .grid-partners .cont-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.container-partners .grid-partners .cont-logos .img-logos {
    overflow: hidden;
    padding: 10px;
}

.container-partners .grid-partners .cont-logos img {
    width: 230px;
    transition: transform 0.3s;
}

.container-partners .grid-partners .cont-logos img:hover {
    transform: scale(1.1);
}

.container-relleno {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* Asegura que el contenido del contenedor no se superponga al overlay */
    background-image: url("../img/ingenieros-electricos.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-relleno::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color y opacidad del overlay */
    z-index: 1;
    /* Coloca el overlay detrás del contenido de texto */
}

.container-relleno .contenido {
    position: relative;
    z-index: 20;
    margin: 0 90px;
    text-align: left;
    color: var(--blanco);
    font-weight: bolder;
}

.container-relleno .contenido h2 {
    color: var(--secondary);
    font-size: 50px;
    font-weight: bolder;
}

.container-relleno .contenido h5 {
    font-size: 40px;
}

.cont-button-relleno button {
    border: none;
    background-color: var(--secondary);
    padding: 12px 17px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: var(--blanco);
    transition: all 0.5s;
}

.cont-button-relleno button:hover {
    background-color: var(--secondaryhover);
}


/* ---------------FORMULARIO COTIZACION---------------- */
.container-form-cotizacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px;
}

.container-form-cotizacion .form {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.container-form-cotizacion .form form {
    width: 70%;
    background-color: var(--celeste);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    color: var(--blanco);
}

.container-form-cotizacion .form h4 {
    text-align: center;
    font-weight: bolder;
    color: var(--blanco);
}

.container-form-cotizacion .form div {
    padding-top: 10px;
}

.container-form-cotizacion .form input {
    font-size: 14px;
}

.container-form-cotizacion .form textarea {
    font-size: 14px;
}

.container-form-cotizacion .cont-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-form-cotizacion .btn-enviar {
    padding: 13px 25px;
    background-color: var(--textgris);
    color: var(--blanco);
    border: none;
    border-radius: 8px;
    transition: all 0.5s;
}

.container-form-cotizacion .btn-enviar:hover {
    background-color: #464646;
}

.container-form-cotizacion .cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-cotizacion .cont-img div {
    width: 60%;
}

.container-form-cotizacion .cont-img img {
    width: 100%;
}

/* -------------------------FOOTER----------------------- */

footer {
    padding: 50px 50px;
    background: #3a3a3a;
    color: var(--blanco);
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.container-footer {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-footer .grid-footer {
    padding: 0 25px;
    text-align: justify;
}

.container-footer .grid-footer h5 {
    font-weight: bolder;
    padding-bottom: 15px;
}

.container-footer .grid-footer a {
    text-decoration: none;
    color: var(--blanco);
}

.container-footer .grid-footer .icon-logo {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.container-footer .grid-footer.servicios {
    text-align: center;
}

.container-footer .grid-footer .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.container-footer .grid-footer .icons i {
    font-size: 30px;
    transition: all 0.3s;
}

.container-footer .grid-footer .icons i:hover {
    color: var(--secondary);
}

.container-footer img {
    width: 90px;
    margin: 0 auto;
}

@media (max-width:850px) {
    body {
        box-sizing: border-box;
    }

    .menu {
        max-width: 100%;
    }

    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show {
        background-color: #6d6d6d;
    }


    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: var(--textgris);
        overflow-y: auto;
        display: grid;
        color: #ffffff;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
        color: #ffffff;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        background-color: var(--secondary);
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }

    /* ----------------Contenido de servicios----------------- */

    .grid-tarjetas .cont-tarjetas {
        display: block;
    }

    .grid-tarjetas .cont-tarjetas {
        width: 100%;
    }

    .grid-tarjetas {
        padding: 20px 0;
    }

    .container-servicios {
        padding: 40px 50px;
    }

    .grid-tarjetas .tarjetas {
        margin-bottom: 20px;
    }

    /* --------------Contenido de nosotros---------------- */
    .container-nosotros {
        padding: 0px 0px;
    }

    .img-cont-text .cont-text {
        padding: 30px 60px;
    }

    /* -----------------Logos de compañias asociadas-------------- */
    .container-partners .grid-partners .cont-logos img {
        width: 100px;
    }


    .container-relleno .contenido h5 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .container-nosotros .img-cont-text {
        display: block;
        padding: 20px 0;
    }

    .container-partners .grid-partners .cont-logos {
        display: block;
    }

    .container-form-cotizacion {
        display: block;
    }

    .container-form-cotizacion .form form {
        width: 100%;
    }

    .container-footer {
        display: block;
        width: 100%;
    }

    .container-footer .grid-footer.servicios {
        text-align: center;
    }
}