@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ag_book_roundedmedium';
    src: url('fonts/ag_book_rounded_medium-webfont.woff2') format('woff2'),
        url('fonts/ag_book_rounded_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('fonts/Roboto-Condensed.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #ffffff;
    --blanco: #ffffff;
    --secondary: #f7bc28;
    --secondaryhover: #e6a400;
    --textgris: #686868;
    --celeste: #3dc1e8;
    --fontPrimary: 'ag_book_roundedmedium';
    --fontSecondary: 'Roboto-Condensed';
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

main {
    width: 100%;
    margin-right: 0;
    background-color: #ffff;
}

.img-nav {
    height: 60px;
}

.menu {
    background-color: var(--primary);
    height: 70px;
    top: 0;
    z-index: 900;
    position: fixed;
    font-size: 13px;
    width: 100%;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    list-style: none;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links {
    list-style: none;
    height: 100%;
    margin-bottom: 0;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: var(--textgris);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover {
    background-color: var(--secondary);
    color: #ffff;
}


.menu__arrow {
    font-size: 12px;
    color: var(--textgris);
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    padding-left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    color: #ffffff;
    transform: translateY(100%);
    background-color: var(--secondary);
}

.menu__link--inside {
    color: #ffffff;
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: var(--secondaryhover);
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.container {
    width: 100%;
}

.menu__img {
    display: block;
    font-size: 32px;
    color: var(--textgris);
}

/* -------Slider de imagenes-------- */
.carousel.slide {
    margin-top: 40px;
}

.carousel-item {
    max-height: 700px;
}

.carousel-caption {
    height: 100%;
}

.carousel-text {
    height: 100%;
    text-align: start;
    display: flex;
    align-items: center;
}

.carousel-text .carousel-text-cont {
    width: 50%;
    padding-left: 10%;
}

.carousel-text .carousel-btns {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: start;
}

.carousel-text .carousel-btns button {
    border: none;
    padding: 8px 13px;
    border-radius: 8px;
}

.carousel-btns .btn-1 {
    background-color: var(--secondary);
    color: #ffffff;
    transition: all 0.3s;
}

.carousel-btns .btn-1:hover {
    background-color: var(--secondaryhover);
}

.carousel-btns .btn-2 {
    transition: all 0.3s;
}

.carousel-btns .btn-2:hover {
    background-color: var(--textgris);
    color: #ffffff;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.637);
    /* Color del overlay */
    color: #fff;
    /* Color del texto del overlay */
    padding: 20px;
    /* Espaciado interno del overlay */
}

/* -------------------Nuestros servicios----------------- */


.container-servicios {
    padding: 80px 50px;
}

.cont-title {
    text-align: center;
}

.cont-title h2 {
    color: var(--secondary);
    font-weight: bolder;
}

.grid-tarjetas {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.grid-tarjetas .cont-tarjetas {
    display: grid;
    width: 60%;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-tarjetas .tarjetas {
    position: relative; /* Agregamos posición relativa para poder usar posicionamiento absoluto en el contenido interno */
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.13);
    transition: all 0.5s;
    cursor: pointer;
}

.grid-tarjetas .tarjetas:hover{
    background-color: var(--celeste);
    color: #ffffff;
}

.grid-tarjetas .tarjetas:hover h5{
    color: var(--blanco);
}
.grid-tarjetas .tarjetas h5 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
    color: var(--celeste);
    transition: all 0.7s;
}

.grid-tarjetas .tarjetas .icon-tarj {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.tarjetas .icon-tarj i {
    font-size: 60px;
    color: #3dc1e8;
    transition: all 0.7s;
}

.grid-tarjetas .tarjetas:hover .icon-tarj i{
    color: var(--blanco);
}

.cont-button{
    display: flex;
    justify-content: center;
}

.cont-button button{
    border: none;
    background-color: var(--secondary);
    padding: 12px 17px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: var(--blanco);
    transition: all 0.5s;
}

.cont-button button:hover{
    background-color: var(--secondaryhover);
}


/* -------------------QUIENES SOMOS-------------------- */
.container-nosotros {
    padding: 80px 0px;
}

.container-nosotros .img-cont-text{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 0;
}

.img-cont-text img{
    width: 100%;
}

.img-cont-text .cont-img{
    overflow: hidden;
    align-items: center;
}

.img-cont-text .cont-text{
    padding: 0 60px;
    display: flex;
    align-items: center;
}

.img-cont-text .cont-text h3{
    text-align: center;
    font-weight: bolder;
    color: var(--secondary);
}

.img-cont-text .cont-text .subtitulo{
    text-align: center;
}

.img-cont-text .cont-text .img{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.img-cont-text .cont-text img{
    width: 150px;
}


/* -------------------LOGOS PARTNERS----------------- */
.container-partners{
    padding: 50px 0;
}
.container-partners .grid-partners{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-partners .grid-partners .cont-logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.container-partners .grid-partners .cont-logos .img-logos{
    overflow: hidden;
    padding: 10px;
}

.container-partners .grid-partners .cont-logos img{
    width: 230px;
    transition: transform 0.3s; 
}

.container-partners .grid-partners .cont-logos img:hover{
    transform: scale(1.1); 
}

@media (max-width:850px) {
    body {
        box-sizing: border-box;
    }

    .menu {
        max-width: 100%;
    }

    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show {
        background-color: #6d6d6d;
    }


    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: var(--textgris);
        overflow-y: auto;
        display: grid;
        color: #ffffff;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
        color: #ffffff;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        background-color: var(--secondary);
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}